.Item {
    width: 70%;
    border-bottom: 1px solid grey;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;
}

.Name {
    flex-grow: 20;
    text-align: left;
    width: 300px;
}

.RemButton {
    flex-grow: 1
}
